@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary: #171717;
  --dark: #141313;
  --light: #F5F5F5;
  --secondary: #2C2C2C;
  --primary-alt: #BDA982;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-secondary: var(--secondary);
  --color-primary-alt: var(--primary-alt);
  --font-vogera: var(--font-vogera);
  --font-sans: var(--font-sans);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #DFD6C5;
    --primary: #D4AF37;
    --dark: #141313;
    --light: #F5F5F5;
    --secondary: #2C2C2C;
    --primary-alt: #BDA982;
  }
}

body {
  background: var(--background);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-next{ 
  color: var(--primary);
  fill: var(--primary);
}

.swiper-button-prev > svg { 
  color: var(--primary);
  fill: var(--primary);
}

.swiper-button-next> svg{ 
  color: var(--primary);
  fill: var(--primary);
}

.swiper-pagination-bullet{ 
  color: var(--primary);
  background-color: var(--primary);
}